/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/* 
  https://coolors.co/palette/582f0e-7f4f24-936639-a68a64-b6ad90-c2c5aa-a4ac86-656d4a-414833-333d29
  https://ionicframework.com/docs/theming/color-generator
  https://ionicframework.com/docs/theming/themes#stepped-colors
*/

/* 
  maybe this one
  https://palette.site/palette?id=642a99c36192921b1ac86b50
*/

/* Robot Slab font */
/* https://fonts.google.com/specimen/Roboto+Slab */

/* 
  https://ionicframework.com/docs/theming/themes
*/

/* 
 * light palette
 * https://huemint.com/brand-3/#palette=eae6ea-005b28-595a5b-75c758
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #eae6ea;
  --ion-background-color-rgb: 234, 230, 234;

  --ion-text-color: #020202;
  --ion-text-color-rgb: 2, 2, 2;

  --ion-color-step-50: #dedbde;
  --ion-color-step-100: #d3cfd3;
  --ion-color-step-150: #c7c4c7;
  --ion-color-step-200: #bcb8bc;
  --ion-color-step-250: #b0adb0;
  --ion-color-step-300: #a4a2a4;
  --ion-color-step-350: #999699;
  --ion-color-step-400: #8d8b8d;
  --ion-color-step-450: #827f82;
  --ion-color-step-500: #767476;
  --ion-color-step-550: #6a696a;
  --ion-color-step-600: #5f5d5f;
  --ion-color-step-650: #535253;
  --ion-color-step-700: #484648;
  --ion-color-step-750: #3c3b3c;
  --ion-color-step-800: #303030;
  --ion-color-step-850: #252425;
  --ion-color-step-900: #191919;
  --ion-color-step-950: #0e0d0e;

  --ion-color-primary: #005b28;
  --ion-color-primary-rgb: 0, 91, 40;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #005023;
  --ion-color-primary-tint: #1a6b3e;

  --ion-color-secondary: #595a5b;
  --ion-color-secondary-rgb: 89, 90, 91;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #4e4f50;
  --ion-color-secondary-tint: #6a6b6b;

  --ion-color-tertiary: #75c758;
  --ion-color-tertiary-rgb: 117, 199, 88;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #67af4d;
  --ion-color-tertiary-tint: #83cd69;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #757780;
  --ion-color-medium-rgb: 117, 119, 128;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #676971;
  --ion-color-medium-tint: #83858d;

  --ion-color-light: #d2dcd0;
  --ion-color-light-rgb: 210, 220, 208;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #b9c2b7;
  --ion-color-light-tint: #d7e0d5;

  /* Custom font */
  --ion-font-family: "Roboto Slab", sans-serif;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #4caf50; /* Hunter Green */
    --ion-color-primary-rgb: 76, 175, 80;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #388e3c;
    --ion-color-primary-tint: #66bb6a;

    --ion-color-secondary: #81c784; /* Lighter Green */
    --ion-color-secondary-rgb: 129, 199, 132;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #689f38;
    --ion-color-secondary-tint: #a5d6a7;

    --ion-color-tertiary: #1b5e20; /* Darker Hunter Green */
    --ion-color-tertiary-rgb: 27, 94, 32;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #0a3d12;
    --ion-color-tertiary-tint: #2e7d32;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

/* 
 * My custom variables 
 */
:root {
  --border-rad: 8px;
}

ion-card {
  border-radius: var(--border-rad);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 1rem 0;
}

ion-fab-button {
  --border-radius: var(--border-rad) !important;
  width: 50px;
  height: 50px;
}

@media (min-width: 1200px) {
  .responsive-toolbar {
    padding-left: 21vw;
    padding-right: 21vw;
  }

  .responsive-body {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

/* TOP AND TAB BARS */

.active-tab {
  color: var(--color-selected);
}

/* Underline */
.active-tab > ion-label {
  border-bottom: 1px solid var(--color-selected);
}

ion-tab-bar {
  padding: 0px 0px;
  border-radius: var(--border-rad) var(--border-rad) 0 0;
}

.header-md::after {
  background-image: none !important;
}

ion-header {
  /* border: 2px solid
    var(
      --ion-tab-bar-border-color,
      var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.07)))
    ); */

  padding: 0;
}

ion-toolbar {
  border: 1px solid
    var(
      --ion-tab-bar-border-color,
      var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.07)))
    );

  border-radius: 0 0 var(--border-rad) var(--border-rad);
}

ion-label {
  font-size: 0.9em;
}

/* Input form styling */
ion-item {
  border-radius: var(--border-rad);
}

ion-item > .svg-inline--fa {
  margin-right: 0.8rem;
}

ion-button {
  --border-radius: var(--border-rad);
}
