/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/* 
  https://coolors.co/palette/582f0e-7f4f24-936639-a68a64-b6ad90-c2c5aa-a4ac86-656d4a-414833-333d29
  https://ionicframework.com/docs/theming/color-generator
  https://ionicframework.com/docs/theming/themes#stepped-colors
*/

/* 
  maybe this one
  https://palette.site/palette?id=642a99c36192921b1ac86b50
*/

/* Robot Slab font */
/* https://fonts.google.com/specimen/Roboto+Slab */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #f3f4ef;
  --ion-background-color-rgb: 243, 244, 239;

  --ion-text-color: #005b28;
  --ion-text-color-rgb: 0, 91, 40;

  --ion-color-step-50: #e7ece5;
  --ion-color-step-100: #dbe5db;
  --ion-color-step-150: #cfddd1;
  --ion-color-step-200: #c2d5c7;
  --ion-color-step-250: #b6cebd;
  --ion-color-step-300: #aac6b3;
  --ion-color-step-350: #9ebea9;
  --ion-color-step-400: #92b79f;
  --ion-color-step-450: #86af95;
  --ion-color-step-500: #7aa88c;
  --ion-color-step-550: #6da082;
  --ion-color-step-600: #619878;
  --ion-color-step-650: #55916e;
  --ion-color-step-700: #498964;
  --ion-color-step-750: #3d815a;
  --ion-color-step-800: #317a50;
  --ion-color-step-850: #247246;
  --ion-color-step-900: #186a3c;
  --ion-color-step-950: #0c6332;

  --ion-color-primary: #005b28;
  --ion-color-primary-rgb: 0, 91, 40;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #005023;
  --ion-color-primary-tint: #1a6b3e;

  --ion-color-secondary: #42af4d;
  --ion-color-secondary-rgb: 66, 175, 77;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #3a9a44;
  --ion-color-secondary-tint: #55b75f;

  --ion-color-tertiary: #afafaf;
  --ion-color-tertiary-rgb: 175, 175, 175;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #9a9a9a;
  --ion-color-tertiary-tint: #b7b7b7;

  --ion-color-success: #42af4d;
  --ion-color-success-rgb: 66, 175, 77;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #3a9a44;
  --ion-color-success-tint: #55b75f;

  --ion-color-warning: #6b5143;
  --ion-color-warning-rgb: 107, 81, 67;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #5e473b;
  --ion-color-warning-tint: #7a6256;

  --ion-color-danger: #e74c3c;
  --ion-color-danger-rgb: 231, 76, 60;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cb4335;
  --ion-color-danger-tint: #e95e50;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /* Custom font */
  --ion-font-family: "Roboto Slab", sans-serif;
}
